docker-compose.yml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
*/__pycache__/*
/__pycache__/
# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.venv/
/.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
venv