{% extends 'base.html' %} {% load static i18n %}
<title>
    {% block title %} {{title}} {% endblock title %}
</title>

{% block css %}
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<style>
    @media screen and (max-width: 1200px) {
        .muavinlik {
            font-size: 36px;
        }

        .muavinad {
            font-size: 30px;
        }
    }

    @media screen and (max-width: 800px) {
        .muavinlik {
            font-size: 28px;
        }

        .muavinad {
            font-size: 29px;
        }
    }

    @media screen and (max-width: 600px) {
        .muavinlik {
            font-size: 24px;
        }

        .muavinad {
            font-size: 28px;
        }
    }

    @media screen and (max-width: 400px) {
        .muavinlik {
            font-size: 20px;
        }

        .muavinad {
            font-size: 26px;
        }
    }

    @media screen and (min-width: 1200px) {
        .muavinlik {
            font-size: 46px;
        }

        .muavinad {
            font-size: 36px;
        }
    }
</style> {% endblock css %} {% block base %}


<div class="container mt-5" style="margin-bottom: 100px !important;">
    <div class="card mb-3 border-0 mx-auto" style="max-width: 60%;">
        <p class="muavinlik mt-5">Birinci Şöbə müdiri</p>
        <div class="row g-0">
            <div class="col-12 col-xl-4 " style="padding: 0 !important;">
                <img src="../../media/practic/dr_img.png"
                    class="img-fluid" style="height: 346px; width: 692px; border-radius: 18px;" alt="... ">
            </div>
            <div class="col-12 col-xl-8">
                <div class="card-body pl-lg-5" style="padding: 0 !important;">
                    <p class="card-text muavinad" style=" margin-bottom: 16px; line-height: 42px;">Kəmalə Hüseynov Aslan qızı</p>
                    <p class="card-text ">The incident prompted an internal investigation, and the withheld.Moore and
                        Marino were in France as part of a weeklong trip that had been organized so the top cops could
                        meet with French. The incident prompted an internal investigation,
                        and the names of the LAPD officers involved are being withheld.Moore and Marino were in France
                        as withheld.Moore</p>
                    <p class="card-text " style="margin-top: 46px;">Mobil: +994 55 555 55 55
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- ***************** -->

    <div class="card mb-3 border-0 mx-auto" style="max-width: 60%;">
        <p class="muavinlik mt-5">İkinci şöbə müdiri</p>
        <div class="row g-0">
            <div class="col-12 col-xl-4 " style="padding: 0 !important;">
                <img src="https://s3-alpha-sig.figma.com/img/cdd6/3b45/dce2c2e60c3fefd1fd17ff45a473af9b?Expires=1640563200&Signature=E46rNui4uXrq0QlRAjFzs0QaUZDKJKvwD03lOfrq-VuWiHRRhsVSQGjogiYYRk4ubKtCIBY6k3T2oDUE6yjJJuM8-kj2U1wChy~PYQDxE6LDraEPw~Ms1anC12CN7kkOJ~glx85ILcebKSp6Inl2OSedsSTQIMqieSarlEZWht1XFNxnPjEh9-WZCZWG9RK0Anj0aH1iHR7KGstR8XzIv6r61teBphdlgJbr0w3V~8V0sadM~lMCMWHwAr9rmGZmO9y1dD~iB~1k3l3GocWd0o98do2catb2p1hhkLygj6vFzlEQF6RAyn3VygnlB6N4B1VXzk4KD0AwiRWiyXDe9g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA "
                    class="img-fluid" style="height: 346px; width: 692px; border-radius: 18px;" alt="... ">
            </div>
            <div class="col-12 col-xl-8">
                <div class="card-body pl-lg-5" style="padding: 0 !important;">
                    <p class="card-text muavinad" style=" margin-bottom: 16px; line-height: 42px;">Elmir Vüqar oglu
                        Cavadov</p>
                    <p class="card-text ">The incident prompted an internal investigation, and the withheld.Moore and
                        Marino were in France as part of a weeklong trip that had been organized so the top cops could
                        meet with French. The incident prompted an internal investigation,
                        and the names of the LAPD officers involved are being withheld.Moore and Marino were in France
                        as part of a weeklong trip that had been organized so the top cops could meet with French. The
                        incident prompted an internal investigation.</p>
                    <p class="card-text " style="margin-top: 46px;">Mobil: +994 55 555 55 55
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>

</div>
{% endblock base %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
    crossorigin="anonymous "></script>
<script type='text/javascript '
    src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js '></script>
{% endblock js %}