{% extends 'base.html' %} {% load static i18n %}
<title>
    {% block title %} {{title}} {% endblock title %}
</title>

{% block css %}

<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<style>
    .accordion-button {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.8);
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.15px;
        color: #0444e2;
    }

    .accordion-item {
        margin-bottom: 10px;
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        transform: scale(0.7) !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
</style>
{% endblock css %}
{% block base %}
<div class="container" style="margin: 100px auto;">
    <h1 class="text-center">Kitabxana haqqında ümumi məlumat</h1>
    <p>İsmayıllı Humanitar və Texnologiya Kollecinin Kitabxanası əsasən mühəndislik istiqamətləri üzrə yaranıb formalaşmış akademik
        kitabxanadır. Özünün güclü maddi texniki bazası və qiymətli ədəbiyyatlardan ibarət olan fonduna görə ölkənin
        öndəgedən akademik kitabxanaları sırasında yer almışdır. BANM –in kitabxana kompleksi iki korpusdan – “Xətai”
        korpusu və Bibiheybət ərazisində yerləşən yeni kampus hissələrindən ibarətdir. Hər ikisi müasir texnologiyalarla
        təmin olunmuşdur. Xətai korpusunda “Foundation”, “MBA”, “Layihələrin İdarə Olunması”, ixtisasyönümlü magistr
        tələbələri, Bibiheybət korpusunda isə “Neft-qaz mühəndisliyi”, “Kimya mühəndisliyi”, “Proseslərin
        avtomatlaşdırılması mühəndisliyi” və “İnformasiya təhlükəsizliyi” fakültələrinin tələbələri təhsil alır. Bu
        baxımdan kitabxana fondları fakültələrə uyğun formalaşmışdır. Kitabxana fondu müasir ədəbiyyatla və bütün lazım
        olan dərsliklərlə, həmçinin müasir texnologiya və avadanlıqlarla təmin edilmişdir. Dərsliklər əsasən partnyor
        universitet olan Heriot-Watt (Böyük Britaniya) Universitetinin nəşrlərindən ibarətdir. Kitabxananın fondu 30.000
        fiziki materialdan (kitab, jurnal, avtoreferat, qəzet, disk) və 500.000 elektron bazada olan sənədlərdən
        ibarətdir ki, bunun da 1300 elektron sənədi elektron arxivdə (Dspace) toplanmışdır. Kitabxananın elektron
        xidmətlərinə “Digital library” də daxildir ki, burada dərslik və əlavə dərs vəsaitlərinin elektron nüsxələri
        yerləşdirilmişdir. Bibiheybət korpusundakı kitabxana ərazisi fond, geniş oxu zalı, kompüter zalı, oxuculara
        xidmət zonası və 3 müzakirə otağından ibarətdir ki, bu otaqlar da smart lövhələrlə təmin olunmuşdur. Xətai
        korpusunda yerləşən kitabxana isə geniş fond, kompüter zalı və oxuculara xidmət zonasından ibarətdir.
        Kitabxananın fondu daim yenilənir. İl ərzində bir neçə dəfə edilən sifariş əsasında xarici ölkələrin qabaqcıl
        ali təhsil müəssisələrində istifadə olunan dərslik və dərs vəsaitlərinin daxil olması hesabına zənginləşir, bu
        isə tələbə və professor-müəllim heyətinin kitablara tələbatını təmin edir və təlim-tədris prosesinin
        səmərəliliyini artırır. Kitabxananın fondu təkcə xaricdən alınmış kitablarla deyil, həmçinin bədii ədəbiyyat və
        hədiyyə olunmuş kitablarla da zəngindir.</p>

    <div id="faq" style=" margin: auto;">
        <div>
            <p class="titles text-center h3" style="margin-top: 5rem;">Ən çox verilən suallar</p>
        </div>
        <div class="accordion" id="faq">
            {% for i in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{i.id}}">{{forloop.counter}}. {{i.question}}</button>
                </h2>
                <div id="collapse{{i.id}}" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="card-body">
                        <p>{{i.answer|safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock base %} {% block js %}

{% endblock js %}