{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
News
{% endblock title %}

{% block css %}
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
	rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% endblock css %}

{% block base %}
<div class="container">
	<div class="card" style="margin-top: 57px; border: none;">
		<div class="card-body">
			<p class="card-text text-center"
				style="font-weight: 600; font-size: 19px; line-height: 28px; text-align: center; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.38); margin: 8px 0px;">
				January 1,2022</p>
			<h4 class="card-title text-center"
				style="font-weight: 600; font-size: 58px; line-height: 70px; text-align: center; letter-spacing: -0.5px; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
				Make Money Doing What You Love: From Hobby to Business in 8 Steps</h4>
			<div class="row justify-content-center text-center">
				<div class="col-3"><a href="#"><i class="fab fa-facebook"></i>Share</a></div>
				<div class="col-3"><a href="#"><i class="fab fa-twitter"></i>Tweet</a></div>
				<div class="col-3"><a href="#"><i class="fas fa-link"></i>Link</a></div>
			</div>
		</div>
		<img class="card-img-top" style="border-radius: 16px;" src="{% static 'img/image 14.png' %}" alt="Card image">
		<div class="card-body">
			<p class="card-text"
				style="font-weight: normal; font-size: 18px; line-height: 24px; letter-spacing: 0.5px; color: rgba(0, 0, 0, 0.87); margin: 32px 0px;">
				The incident prompted an internal investigation, and the names of the LAPD officers
				involved are being withheld.Moore and Marino were in France as part of a weeklong trip that had been
				organized so the top cops could meet with French law enforcement officials to discuss security plans for
				both the 2024 Summer Olympic Games in France and the 2028 Olympics in Los Angeles.

				The arrest led the man who was detained and others who were walking with him to file a complaint with
				the French authorities. Those complaints were then reported to the U.S. consulate.Moore called the
				debacle an “unfortunate incident” and apologized to local officials in Marseille for the stop, the Times
				reported.Police officers don’t generally have the authority to make arrests outside their own
				jurisdiction, let alone in other countries.“When law enforcement officers leave the country, they don’t
				have any authority, even in other states,” Brian Higgins, a professor at John Jay College of Criminal
				Justice, in New York, told VICE News. “They were outside their jurisdiction, they don’t have authority,
				and they were completely wrong.”

				Higgins said the encounter could have become an international incident.“I would have been a lot more
				sure of the allegations before you made an action,” he said. “Even if it was in the U.S., you should
				have been more sure. But to do it when you’re in another country during what we can call diplomatic
				efforts, it’s obviously embarrassing.” Moore and Marino were in France as part of a weeklong trip that
				had been organized so the top cops could meet with French law enforcement officials to discuss security
				plans for both the 2024 Summer Olympic Games in France and the 2028 Olympics in Los Angeles.</p>
		</div>
	</div>
	<h2
		style="font-weight: 600; font-size: 36px; line-height: 56px; letter-spacing: 0.25px; color: rgba(0, 0, 0, 0.87);">
		Oxşar Xəbərlər</h2>
	<div class="card mb-3" style="border: none;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{% static 'img/image 14.png' %}" class="img-fluid rounded" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text"
						style="font-weight: 600; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; text-transform: uppercase; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						January 1,2022</p>
					<p class="card-text"
						style="font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						Civil Rights Legend Lucille Times Dies At 100, Leaving A Lasting Legacy</p>
					<button
						style="padding: 2px 10px; background: rgba(47, 118, 255, 0.1); border-radius: 8px; border: none; color: #2F76FF;">Təhsil</button>
				</div>
			</div>
		</div>
	</div>
	<hr style="background: #ECECEC;">
	<div class="card mb-3" style="border: none;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{% static 'img/image 14.png' %}" class="img-fluid rounded" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text"
						style="font-weight: 600; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; text-transform: uppercase; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						January 1,2022</p>
					<p class="card-text"
						style="font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						Civil Rights Legend Lucille Times Dies At 100, Leaving A Lasting Legacy</p>
					<button
						style="padding: 2px 10px; background: rgba(47, 118, 255, 0.1); border-radius: 8px; border: none; color: #2F76FF;">Təhsil</button>
				</div>
			</div>
		</div>
	</div>
	<hr style="background: #ECECEC;">
	<div class="card mb-3" style="border: none;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{% static 'img/image 14.png' %}" class="img-fluid rounded" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text"
						style="font-weight: 600; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; text-transform: uppercase; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						January 1,2022</p>
					<p class="card-text"
						style="font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						Civil Rights Legend Lucille Times Dies At 100, Leaving A Lasting Legacy</p>
					<button
						style="padding: 2px 10px; background: rgba(47, 118, 255, 0.1); border-radius: 8px; border: none; color: #2F76FF;">Təhsil</button>
				</div>
			</div>
		</div>
	</div>
	<hr style="background: #ECECEC;">
	<div class="card mb-3" style="border: none;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{% static 'img/image 14.png' %}" class="img-fluid rounded" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text"
						style="font-weight: 600; font-size: 15px; line-height: 24px; letter-spacing: 0.5px; text-transform: uppercase; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						January 1,2022</p>
					<p class="card-text"
						style="font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87); margin: 8px 0px;">
						Civil Rights Legend Lucille Times Dies At 100, Leaving A Lasting Legacy</p>
					<button
						style="padding: 2px 10px; background: rgba(47, 118, 255, 0.1); border-radius: 8px; border: none; color: #2F76FF;">Təhsil</button>
				</div>
			</div>
		</div>
	</div>
</div style="background: #ECECEC;">

{% endblock base %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script type='text/javascript'
	src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
{% endblock js %}