{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block base %}

<div class="container mt-5">
    
	<div class="row ">
	{% for new in news %}

	<div class="card mt-5 col-4" style="width: 18rem;">
		{% for i in new.images.all %}
		<img src="{{i.image.url}}" class="card-img-top" alt="...">
		{% endfor %}
		<div class="card-body">
			<h3 class="card-title">{{new.name}}</h3>
            <h6 class="card-title">{{new.subtitle}}</h6>
			<p class="card-text">{{new.description}}</p>
			<a href="#" class="btn btn-primary">Ətraflı</a>
		</div>
	</div>

	{% endfor %}
</div>

</div>

{{wrongsearch}}


{% endblock %}