{% extends 'base.html' %} {% load static i18n %}
<title>
    {% block title %} {{title}} {% endblock title %}
</title>

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/a94e9ac94f.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
    @media screen and (max-width: 1200px) {
        .directorcartright {
            margin-bottom: 750px;
        }
    }
    
    .modal-body {
        padding: 0 !important;
    }
    
    .modal-content {
        border-radius: 20px;
        border: none;
        width: 405px;
        margin: auto;
    }
</style>{% endblock css %} {% block base %}
<div class="container" style="margin-top: 100px; margin-bottom: 150px;">
    <div class="card mb-3 border-0 mx-auto" style="margin-bottom: 2000px;">
        <div class="row g-0">
            <div class="col-12 col-xl-5">
                <img src="https://s3-alpha-sig.figma.com/img/cdd6/3b45/dce2c2e60c3fefd1fd17ff45a473af9b?Expires=1639353600&Signature=TBwlA4qOxVhZ1nqQZXzxEdIWgwn4Mf20-2Fm-KGxCE0naf-efR2sed1hxONqcXJN0Ch2roJxWxszAugmGTKnWqNOBDFaAFvJltt~h9BHmTPTmCBL0893G4b20pg08UcAq-tRrLprQI56k4IPhbLsin9GqAxpVCkKDuV~nONiZG7PkHCguK85f3~hKXa53efnf9dJSiRLqd9~cswRPCP5GWMGbg439xp2b1T5KBjzOwhJ2M2lKYNoRAx-983VrMaMz9NMmoq4CkIEAPz3RZF0lwNyo~~Mw-vYLhM-r2anJA~ffHGX3zg3RKQgQTGu0FJSCb8R~Y7dA0ZuugYyZZvkOQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA "
                    class="img-fluid" style="height: 793px; width: 529px; border-radius: 24px;" alt="... ">
            </div>
            <div class="col-12 col-xl-5 directorcartright">
                <div class="card-body " style="max-height: 216px; max-width: 518px;">
                    <span style="font-size: 24px; opacity: 0.6; color: black; ">2018-ci ildən davam edir</span>
                    <p class="card-text " style="font-size: 48px; margin-bottom: 16px;">Süleymanova Kəmalə</p>
                    <p class="card-text ">The incident prompted an internal investigation, and the names of the LAPD officers involved are being withheld.Moore and Marino were in France as part of a weeklong trip that had been organized so the top cops could meet with French
                        law enforcement officials to discuss security plans for both the 2024 Summer Olympic Games in France and the 2028 Olympics in Los Angeles.
                        <br>
                        <br>The arrest led the man who was detained and others who were walking with him to file a complaint with the French authorities. Those complaints were then reported to the U.S. consulate.Moore called the debacle an “unfortunate
                        incident” and apologized to local officials in Marseille for the stop, the Times reported.Police officers don’t generally have the authority to make arrests outside their own jurisdiction, let alone in other countries.“When law
                        enforcement officers leave the country, they don’t have any authority, even in other states,” Brian Higgins, a professor at John Jay College of Criminal Justice, in New York, told VICE News. “They were outside their jurisdiction,
                        they don’t have authority, and they were completely wrong.”</p>
                    <p class="card-text " style="margin-top: 0px;">Email: <span class="text-primary">ismayillikollec@mail.ru</span>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ********************************** -->
    <div class="card m-auto border-0" style="max-width: 70%;margin-bottom: 4rem !important;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="https://s3-alpha-sig.figma.com/img/cdd6/3b45/dce2c2e60c3fefd1fd17ff45a473af9b?Expires=1639353600&Signature=TBwlA4qOxVhZ1nqQZXzxEdIWgwn4Mf20-2Fm-KGxCE0naf-efR2sed1hxONqcXJN0Ch2roJxWxszAugmGTKnWqNOBDFaAFvJltt~h9BHmTPTmCBL0893G4b20pg08UcAq-tRrLprQI56k4IPhbLsin9GqAxpVCkKDuV~nONiZG7PkHCguK85f3~hKXa53efnf9dJSiRLqd9~cswRPCP5GWMGbg439xp2b1T5KBjzOwhJ2M2lKYNoRAx-983VrMaMz9NMmoq4CkIEAPz3RZF0lwNyo~~Mw-vYLhM-r2anJA~ffHGX3zg3RKQgQTGu0FJSCb8R~Y7dA0ZuugYyZZvkOQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                    class="img-fluid " alt="..." style="width: 18rem; height: 19rem;border-radius: 1.5rem;">
            </div>
            <div class="col-md-4" style="width: 32.25rem; height: 16rem;">
                <div class="card-body">
                    <span style="font-size: 24px; opacity: 0.6; color: black; ">2018-ci ildən davam edir</span>
                    <p class="card-title text-dark" style="font-size: 40px; font-weight: 500px; line-height: 56px; font-style: normal;">Kəmalə
                        <br>Süleymanova </p>
                    <p class="card-text" style="font-size: 18px; position: absolute; bottom: 0;">Email: <br><b>willie.jennings@example.com</b></p>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <p class="card-text" style="font-size: 18px;">The incident prompted an internal investigation, and the names of the LAPD officers involved are being withheld.Moore and Marino were in France as part of a weeklong trip that had been organized so the top cops could meet with French law
                    enforcement officials to discuss security plans for both the 2024 Summer Olympic Games in France and the 2028 Olympics in Los Angeles.
                    <br><br>The arrest led the man who was detained and others who were walking with him to file a complaint with the French authorities. Those complaints were then reported to the U.S. consulate.Moore called the debacle an “unfortunate
                    incident” and apologized to local officials in Marseille for the stop, the Times reported.Police officers don’t generally have the authority to make arrests outside their own jurisdiction, let alone in other countries.“When law enforcement
                    officers leave the country, they don’t have any authority, even in other states,” Brian Higgins, a professor at John Jay College of Criminal Justice, in New York, told VICE News. “They were outside their jurisdiction, they don’t have
                    authority, were completely wrong.” </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 57px;">
    <div style="display: flex; justify-content: space-between;">
        <p style="color: #000; opacity: 0.8;">Müəllimlərimiz</p>
        <p>
            <a style="color: blue; text-decoration: none;" href="{% url 'teachers' %}">Hamısına bax</a>
        </p>
    </div>
    <div id="teachers">
        <div class="row">
        </div>
    </div>
    <button id=" more-button " type="button " class="btn btn-outline-primary my-5 ">Daha çox</button>
</div>
{% endblock base %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/allteachers.js' %} "></script>
{% endblock js %}