{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}


{% block base %}


<div class="container mt-5">

	<div class="row ">
	{% for teach in teacher %}

	<div class="card  col-4" style="width: 18rem;">
		<img src="{{teach.image.url}}" class="card-img-top" alt="...">
		<div class="card-body">
			<h3 class="card-title">{{teach.name}} {{teach.surname}}</h3>
			<p class="card-text">Təhsil: {{teach.education}}</p>
			<p class="card-text">Dərəcə: {{teach.level}}</p>
			<p class="card-text">Yaş: {{teach.age}}</p>
			<a href="#" class="btn btn-primary">Ətraflı</a>
		</div>
	</div>

	{% endfor %}
</div>

</div>


{{wrongsearch}}
{% endblock %}