{% load static i18n %}
<!DOCTYPE html>
<!-- <html class="no-js" lang=""> -->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<!-- Place favicon.ico in the root directory -->
	<!-- google fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> -->
	<!-- all css here -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
	{% block css %}

	{% endblock css %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}{% endblock %}</title>
	<style>

		/* headerdaki blur uchundur */
		.the-blur{
   position: fixed;
   top:0;
   width: 1140px;
   min-height: 57px;
   margin-bottom: 20px;
   background: rgba(65, 51, 51, 0.4);
   z-index:1010;
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px); 
	filter: blur(5px);
    left: 265px; 
}
	</style>

</head>

<body>
	<!-- header section start -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light container"
		style="padding-left: 72px; padding-right: 72px;">
		<a class="navbar-brand" href="#"><img src="../../media/media/hat.jpeg" width="28px" alt="Logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

				<div class="col"><img src="../../../../Downloads/logo.png" width="28px" alt=""></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="col-5 headercenter" style="display: flex;justify-content: center; align-items: center;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto">
				<li class="nav-item active">
					<a class="nav-link"  id="xəbərlər" href="#">Xəbərlər <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active" >
					<a class="nav-link" id="rəhbərlik" href="#">Rəhbərlik</a>
					<ul>
						<li><a href="#">Direktor</a></li>
						<li><a href="#">Müavin</a></li>
						<li><a href="#">Şöbə</a></li>
						<li><a href="#">FBK</a></li>
						<li><a href="#">Təcrübə</a></li>
					</ul>
				</li>
				<li class="nav-item active" >
					<a class="nav-link" id="haqqımızda" href="#">Haqqımızda</a>
					<ul>
						<li><a href="#">Tədbirlər</a></li>
						<li><a href="#">Əlaqə</a></li>
						<li><a href="#">Ən son</a></li>
						<li><a href="#">Xəbər</a></li>
					</ul>
				</li>
				<li class="nav-item active" >
					<a class="nav-link" id="onlinekitabxana" href="#">Online Kitabaxana</a>
					<ul>
						<li><a href="#">Texniki</a></li>
						<li><a href="#">Humanitar</a></li>
						<li><a href="#">İKT</a></li>
						<li><a href="#">9 illik basa</a></li>
					</ul>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->

				<button id="kabinetid">KABINET</button>

				<i class="fas fa-search" style="padding-left: 25px; padding-right: 33px;"></i>

				<a class="btn dropdown-toggle" href="#">
					AZ
				</a>

			</form>
		</div>
		<div class="the-blur"></div>
	</nav>


	<!-- header section end -->

	{% block base %}

	{% endblock base %}

	<!-- footer-top area start -->

	<div class="container-fluid footer" style="padding-top: 64px; padding-left: 72px; padding-right: 72px;">
		<div style="border-bottom: 1px solid #333B53; padding-bottom: 100px;">
			<div class="row">
				<div class="col-md-5">
					<div class="footersubs">
						<h5 style="color: white;font-size: 24px;">Subscribe</h5>
						<p style="margin-top: 8px;color: white; opacity: 0.7; font-size: 15px;">Velit officia consequat
							duis enim velit
							mollit amet minim deserunt ullamco est.</p>
						<div class="">
							<input type="text" placeholder="Email address"
								style="background-color: #11182D; height: 40px;width: 220px; padding-left: 6px; color: #ffffff; border: 1px solid #ffffff;">
							<button
								style="background-color: white; border-top-right-radius: 2px;border-bottom-right-radius: 2px;  width: 56px; height: 40px; border: none;"><i
									class="far fa-long-arrow-right"></i></button>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-4">
							<table class="table table-borderless">
								<tr>
									<th scope="row">
									</th>
									<th>
										<p>Əlaqə</p>
									</th>
								</tr>
								<tr>
									<td scope="row"><a href="#" class="text-light"><i
												class="far fa-map-marker-alt"></i></a>
									</td>
									<td>
										<p>2972 Westheimer Rd. <br>
											Santa Ana, Illinois 85486</p>
									</td>
								</tr>
								<tr>
									<td scope="row"><a href="#" class="text-light"><i class="far fa-phone"></i></a>
									</td>
									<td>
										<p>(480) 555-0103</p>
									</td>
								</tr>
								<tr>
									<td scope="row"><a href="#" class="text-light"><i
												class="far fa-envelope text"></i></a>
									</td>
									<td colspan="2">
										<p>tanya.hill@example.com</p>
									</td>
								</tr>
							</table>
						</div>

						<div class="col">
							<table class="table table-borderless">
								<tr>
									<th>
										<p>Online Kitabxana</p>
									</th>
								</tr>
								<tr>
									<td>
										<ul>
											<li><a href="#">Texniki</a></li>
											<li><a href="#">Humanitar</a></li>
											<li><a href="#">İKT</a></li>
											<li><a href="#">9 illik baza</a></li>

										</ul>
									</td>

							</table>
						</div>
						<div class="col">
							<table class="table table-borderless">
								<tr>
									<th>
										<p>Rəhbərlik</p>
									</th>
								</tr>
								<tr>
									<td>
										<ul>
											<li><a href="#">Direktor</a></li>
											<li><a href="#">Müavinlər</a></li>
											<li><a href="#">Şöbələr</a></li>
											<li><a href="#">Təcrübə</a></li>
										</ul>
									</td>

							</table>
						</div>
						<div class="col">
							<table class="table table-borderless">
								<tr>
									<th>
										<p>Haqqımızda</p>
									</th>
								</tr>
								<tr>
									<td>
										<ul>
											<li><a href="#">Müəllimlər</a></li>
											<li><a href="#">Kollec</a></li>
											<li><a href="#">Ələqə</a></li>
										</ul>
									</td>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="iconfootersosial">
						<a class="iconfootersosiala" href="#"><i class="fab fa-linkedin-in"></i></a>
						<a class="iconfootersosiala" href="#" style="margin-left: 30px; margin-right: 30px;"><i
								class="fab fa-instagram"></i></a>
						<a class="iconfootersosiala" href="#"><i class="fab fa-facebook"></i></a>
						<a onclick="topFunction()" id="scrollTopicon"><i class="fas fa-arrow-circle-up"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div
					style="color: white; opacity: 0.5; margin-top: 14px; font-size: 12px;display: flex; justify-content: space-between; ">
					<div>
						<p>© 2022 Taleh.Vusal.Khazar, Inc. All Rights Reserved</p>
					</div>
					<div>
						<p>
							AZ
							</a></p>
					</div>
					<!-- <p><a class="btn dropdown-toggle" href="#" >
				AZ
			</a></p> -->
				</div>

			</div>

		</div>
	</div>

	<!-- footer section end -->


	<!--js script-->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/script.js' %}"></script>

	{% block js %}

	{% endblock js %}

</body>

</html>