/* body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
} */

.card {
    box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.profile-pic {
    width: 300px !important;
    height: 300px;
    box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1e88e5 !important;
    border: none;
    font: inherit;
    font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0d47a1 !important;
    background-color: transparent !important;
}

.owl-dots {
    display: none;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.beforeSides {
    display: block !important;
    position: relative;
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.sides {
    display: block !important;
    position: relative;
    transform: scale(0.75);
    transition-duration: 0.3s;
}

.item.show {
    display: block;
    transition-duration: 0.4s;
}

.card {
    box-shadow: none;
    border-radius: 1.25rem;
}

@media screen and (max-width: 999px) {
    .next,
    .prev {
        transform: scale(1);
        opacity: 1;
    }
    .item {
        display: block !important;
    }
}

.btn-floating {
    color: black;
    margin: 0 10px;
}

.carousel-item>.col-md-3 {
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 0 10px !important;
}

#news,
#event,
#students {
    padding: 0 72px !important;
}

.news-date {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.event-date {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.38);
}

.news-title,
.event-title {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.8);
}

.news-text,
.event-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.8);
}

.news-readmore,
.event-readmore {
    padding: 0 !important;
    color: #0444e2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15px;
}

.accordion-button {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.8);
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: #0444e2;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(0.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

#students {
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    position: relative;
    bottom: 11px;
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.student-body {
    position: relative;
    bottom: 35px;
}

#students .student-card {
    background: #ffffff !important;
    border: 1px solid rgba(4, 68, 226, 0.1) !important;
    box-sizing: border-box !important;
    border-radius: 6px !important;
    padding: 0 32px 32px 32px !important;
}

#students .student-header div {
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
}

#students .card-title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
}

#students .card-title>small {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87);
}

#students .card-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

#students .fa-star {
    color: #ffc123;
    border-radius: 0.4px;
    margin: 0px 2px;
}