body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
}

.card {
  box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.profile-pic {
  width: 300px !important;
  height: 300px;
  box-shadow: 0px 4px 8px 0px #bdbdbd;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1e88e5 !important;
  border: none;
  font: inherit;
  font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0d47a1 !important;
  background-color: transparent !important;
}

.owl-dots {
  display: none;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
.beforeSides {
  display: block !important;
  position: relative;
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.sides {
  display: block !important;
  position: relative;
  transform: scale(0.75);
  transition-duration: 0.3s;
}

.item.show {
  display: block;
  transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {
  .next,
  .prev {
    transform: scale(1);
    opacity: 1;
  }

  .item {
    display: block !important;
  }
}

.btn-floating {
  color: black;
  margin: 0 10px;
}
