* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#xəbərlər,
#rəhbərlik,
#haqqımızda,
#onlinekitabxana {
  color: #000;
}

#xəbərlər:hover,
#rəhbərlik:hover,
#haqqımızda:hover,
#onlinekitabxana:hover {
  text-decoration: underline;
  color: blue;
  text-decoration-color: #0000;
  transition: 1s;
  /* Animation */
}
nav ul {
  margin: 0 !important;
}

nav ul li ul {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
}

nav ul li ul li {
  margin: 0;
  padding: 0;
}

nav ul li ul li a {
  color: #000;
  text-decoration: none;
  list-style: none;
  padding: 8px;
}

nav ul li ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #0000;
  transition: 1s;
}

#kabinetid {
  width: 128px;
  height: 40px;
  border-radius: 5px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 13px;
  background-color: #024aff;
}

#kabinetid:hover {
  background-color: #0444e2;
  font-size: 13.5px;
}

nav ul li {
  padding-left: 20px;
  padding-right: 20px;
}
/* 
.footer {
    width: 100%;
    background-color: #11182d;
    position: absolute;
    box-sizing: border-box;
}

.footersubs {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
}

.iconfootersosial {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.fab {
    font-size: 20px;
    color: white;
}

.iconfootersosiala {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #28324f;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer p,
h5,
h6,
li,
a,
table {
    color: white;
}

.footer table td {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    opacity: 0.8;
}

.footer table tr {
    padding: 0px;
    margin: 0px;
}

.footer table th {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

#scrollTopicon {
    position: absolute;
    right: 25px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

#scrollTopicon:hover {
    color: #333b53;
    cursor: pointer;
}

table tr td a:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
}

#overlay {
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
} */

footer ul li {
  list-style: none;
}

footer ul {
  padding-left: 0 !important;
}

.main-content {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.main-content + ul > li {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin: 12px 0;
}
@media only screen and (min-width: 992px) {
  #footer-form {
    position: absolute !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* Need a specific value to work */
  }
}
.nav-link {
  color: black !important;
}

.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  clip: rect(
    top,
    offset of right clip from left side,
    offset of bottom from top,
    left
  );
  -webkit-filter: blur(20px);
  filter: blur(20px);
  filter: url(blur.svg#blur);
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 1200px) {
  #footerDropdownLanguage {
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    height: auto;
  }
  #navbarDropdownLanguage {
    width: 10%;
  }
  #footerDropdownLanguage {
    width: 15% !important;
  }
}

.languages {
  min-width: 0 !important;
  width: 5rem;
  left: auto;
}
