.modal-body {
  padding: 0 !important;
}

.modal-content {
  border-radius: 20px;
  border: none;
  width: 405px;
  margin: auto;
}

#myDropdown {
  background: #f6f6f6;
  border-radius: 16px;
}

#search {
  width: 100%;
  background: #f6f6f6;
  border-radius: 16px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 12px 8px 16px;
  border: none;
  text-align: center;
}

#search:focus {
  outline: 3px solid #ddd;
}

.dropdown-content {
  margin: auto;
  max-width: 30%;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
}

#more-button {
  padding: 12px 24px;
  background: rgba(11, 82, 254, 0.08);
  border-radius: 12px;
}

#more-button:hover {
  color: #000;
}
